.main-bg{
    background: url('../images/About/image\ 106.png');
    background-size: cover;
    background-position: center;
    height: auto;
}

.blog-profile-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}